<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="cryptoKey" value="7Wa8r?s8A#AP" />
    <add key="useMsmq" value="false" />
    <add key="MailQueueName" value=".\Private$\MeetBallEmailQueue" />
    <add key="EmailTemplateVersion" value="7" />
    <add key="TiCloudAppKey" value="ajhGolcdu3FEAafQb5j9ihG5JzmUC81d" />
    <add key="API_VERSION" value="2.4" />
    <add key="EOL_iOS" value="false" />
    <add key="EOL_Android" value="false" />
    <add key="LoggingServiceBaseUrl" value="http://wsdev.meetball.com/LoggingService/Service.svc/"/>

    <!--all '&'s in links need to be replaced with &amp; due to XML escape character requirements-->
    <add key="EOL_iOS_Link" value="https://itunes.apple.com/us/app/meetball-2/id809018254?ls=1&amp;mt=8" />
    <add key="EOL_Android_Link" value="https://play.google.com/store/apps/details?id=com.meetball" />
  </appSettings>
  <connectionStrings>
    <!-- PRODUCTION -->
    <add connectionString="server=172.30.3.60;database=MEETBALL_PROD;
         user id=mb_sql_svc_prod;password=m33t8all!" name="meetball"/>

    <!-- NEW DEVELOPMENT -->
    <!--private IP: 172.30.3.186 - old: mbdev.meetball.com-->
    <!--<add connectionString="server=172.30.3.186;database=Meetball_dev;user id=mb_sql_svc_dev;
         password=m33t8all!" name="meetball" />-->

    <!-- DITKA DEVELOPMENT -->
    <!--<add connectionString="server=172.30.3.186;database=MEETBALL_DITKA;user id=mb_sql_svc_dev;
         password=m33t8all!" name="meetball"/>-->
    
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>

  <system.serviceModel>
    <services>
      <service name="APPI.Services.Service" behaviorConfiguration="webHttpEnablingBehavior">

        <endpoint address="" binding="basicHttpBinding" contract="APPI.Services.IService.IServiceXml" />

        <endpoint address="json" binding="webHttpBinding" bindingConfiguration="default" behaviorConfiguration="webHttpEnablingBehavior" contract="APPI.Services.IService.IServiceJson" />
      
      </service>
    </services>

    <bindings>
      <webHttpBinding>
        <binding name="default" />
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="default" allowCookies="true" />
      </basicHttpBinding>
    </bindings>

    <behaviors>
      
      <serviceBehaviors>
        <behavior>
          <serviceSecurityAudit auditLogLocation="Application" serviceAuthorizationAuditLevel="Failure" messageAuthenticationAuditLevel="Failure" suppressAuditFailure="True" />
        </behavior>
          
        <behavior name="webHttpEnablingBehavior">
          <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webHttpEnablingBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.net>
    <mailSettings>
      <smtp from="notifications@meetball.com">
        <network host="smtp.switchfast.biz" port="587" userName="notifications@meetball.com" password="Hadu3598" defaultCredentials="false" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\temp\Traces.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>